*{
    padding: 0;
    margin: 0;
}

.container{
    width: 800px;
    display: flex;
}

h1{
    font-size: 24px;
}

.text{
    font-size: 14px;
    text-align: justify;
}

.description {
    position: relative;
    text-align: right;
    color: white;
    width: 200px;
    height: 165px;
    border-radius: 10px;
    background-color: rgba(43, 58, 99, 0.829);
    padding: 10px;
}

.description2{
    position: relative;
    text-align: end;
    color: white;
    width: 200px;
    height: 190px;
    border-radius: 10px;
    background-color: rgba(43, 58, 99, 0.829);
    padding: 10px;
}

.subtitle{
    padding-top: 150px;
    font-size: 14px;
}

.subtitle2{
    padding-top: 145px;
    padding-left: 10px;
    font-size: 14px;
}

.subtitle::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background: url(assets/cat1.jpg);
    background-size: 100% 100%;
    display: block;
    width: 220px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.subtitle2::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background: url(assets/cat2.jpg);
    background-size: 100% 100%;
    display: block;
    width: 220px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (min-width:800px) {
        
.text{
    width: 63%;
}


.main{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    gap: 10px;
    flex-wrap: wrap;
    height: 500px;
}

.main > .block1{
    order: 1
}

.main > aside{
    order: 2
}

aside{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


}

@media (min-width:600px) and (max-width:799px) {
    
    h1{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .container{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .text{
       font-size: 18px;
    }

    .main{
        margin: 2vh 5vw;
        display: flex;
        flex-direction: column;
       
    }

/* 
    .block1::after{
        content: "";
        margin-bottom: 0px;
        color: white;
        margin-top: 20px;
        background: url(assets/cat1.jpg);
        background-size: 100% 100%;
        display: block;
        width: 45%;
        height: 170px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
    }

    .block2::before{
        content: "A Tabby cat in snowy weather";
        text-align: center;
        padding: 10px 0px;
        margin-top: 0px;
        color: white;
        background-color: rgba(43, 58, 99, 0.829);
        width: 45%;
        height: 21px;
        display: block;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;     
        margin-bottom: 20px;
    } */

aside{
    margin: 10px auto;
    display: flex;
    gap: 20px;
}

.subtitle {
    padding-top: 170px;
    font-size: 16px;
}

.subtitle2 {
    padding-top: 180px;
    font-size: 16px;
}

.description {
    text-align: right;
    color: white;
    width: 50%;
    height: 185px;
    border-radius: 10px;
    background-color: rgba(43, 58, 99, 0.829);
    padding: 10px;
}

.description2{
    text-align: end;
    color: white;
    width: 50%;
    height: 230px;
    border-radius: 10px;
    background-color: rgba(43, 58, 99, 0.829);
    padding: 10px;
}

.subtitle::before {
    content: "";
    background: url(assets/cat1.jpg);
    background-size: 100% 100%;
    display: block;
    width: 100%;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.subtitle2::before {
    content: "";
    background: url(assets/cat2.jpg);
    background-size: 100% 100%;
    display: block;
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .block3 {
        margin-top: 20px;
    }

}

@media (max-width:599px) {

    h1{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .container{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .text{
       font-size: 16px;
    }

    .main{
        margin: 2vh 5vw;
        display: flex;
        flex-direction: column;
       
    }


aside{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subtitle {
    padding-top: 225px;
    font-size: 16px;
}

.subtitle2 {
    padding-top: 280px;
    font-size: 16px;
}

.description {
    text-align: right;
    color: white;
    width: 95%;
    height: 250px;
    border-radius: 10px;
    background-color: rgba(43, 58, 99, 0.829);
    padding: 10px;
}

.description2{
    text-align: end;
    color: white;
    width: 95%;
    height: 320px;
    border-radius: 10px;
    background-color: rgba(43, 58, 99, 0.829);
    padding: 10px;
}

.subtitle::before {
    content: "";
    background: url(assets/cat1.jpg);
    background-size: 100% 100%;
    display: block;
    width: 100%;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.subtitle2::before {
    content: "";
    background: url(assets/cat2.jpg);
    background-size: 100% 100%;
    display: block;
    width: 100%;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .block3 {
        margin-top: 20px;
    }

    
}